<!--The content below is only a placeholder and can be replaced.-->
<head>
<script ></script>
</head>
<a-scene light="defaultLightsEnabled:false" vr-mode-ui="enabled: true">
<a-assets>
  <img id="back" src="../assets/back.png">
  <img id="front" src="../assets/front.png">
  <img id="left" src="../assets/side.png">
  <img id="right" src="../assets/side2.png">
</a-assets>
<a-box 
        position="0 1.5 -4" 
        multisrc="src4:#front;src5:#back;src0:#left;src1:#right"
        color="white"
        opacity="1"
        depth="2" 
        height="1" 
        width="1"
        shadow>
</a-box>
<
<a-entity light="type: ambient; color: #FFFFFF; intensity: 0.58" position="0 4 0">

<router-outlet></router-outlet>
